<!--Header Starts-->
<div class="font-bold text-3xl mt-2 ">
<div class="grid grid-cols-2">
  
  <!--left part-->
  <div class="left-side ">
   <img class="w-32 h-30 mx-auto" src="../../../assets/git.jpeg" alt="Logo">
    <h3 class="text-center my-2">GitHub Profiles</h3>
  </div>
  
  <!--Right part-->
  <div class="right-side place-content-end lg:w-2/3 lg:px-12 gap-2">
    <h3 class="text-center my-2">Search GitHub Users</h3>
    <form class="max-w-md mx-auto" (ngSubmit)="search()">   
      <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
      <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
              </svg>
          </div>
    
          <input class="block w-full p-4 ps-10 text-base text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
            [(ngModel)]="githubUsername" name="githubUsername" type="text" placeholder="Type User Name" required />
            <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
      </div>
    </form>
  
  </div>

</div>

<!--loading starts-->

<div *ngIf="loading" class="text-center mt-5">
  <svg class="animate-spin h-10 w-10 mx-auto text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" viewBox="0 0 24 24">
    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="#C6D4EB" stroke-width="4"></circle>
    <path class="opacity-75" fill="#FF3366" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
  </svg>
  <p class="mt-2">Loading...</p>
</div>
<div *ngIf="errorMessage" class="mt-5 text-fyle-red text-center">
  {{ errorMessage }}
  </div>

</div>
<!--loading ends-->


<!--Header ends-->